<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3 class="text-center">URL Shortner</h3>
    </div>
  </div>
  <div class="row ">
    <div class="col-sm-10">
      <div class="input-group mb-3">
        <input [(ngModel)]="longUrl" type="text" class="form-control" placeholder="longUrl" aria-label="Recipient's username" aria-describedby="basic-addon2">
     
      </div>

    </div>
    <div class="col-sm-2">
      <div class="input-group-append">
        <button [disabled]="" type="button" class="btn btn-primary"
        (click)="shortenLongUrl()">submit</button>
      </div>

    </div>


  </div>
  <div class="row" *ngIf="showLink">
    <div class="col-sm-12 text-center font-weight-bold">
      <p>This is your Short URL: <a href="{{ shortUrl }}" target="_blank">{{shortUrl}}</a></p>
     
    </div>
  </div>
</div>